body {
    font-family: sans-serif, Robonto;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    font-size: 1.6rem;
  }
  
  h1 {
    margin-bottom: 0;
  }
  
  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }
  
  #image {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
  }
  #img-caption {
    margin: 15px 0 5px 0;
    font-size: 16px;
  }
  #img-div {
    background: white;
    padding: 15px;
  }

  #tribute-info {
    margin: 15px 0 5px 0;
    display: inline-block;
    width: 800px;
  }
  
  ul{
    text-align: left;
    font-size: 16px;
  }

  #tribute-info p{
    font-style: italic;
    font-size: 16px;
  }